" Basic Options
set hlsearch
set scrolloff=5
set ignorecase smartcase
set history=1000
set incsearch
set relativenumber
set visualbell
set showcmd
set showmode


" Plugins
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'
set mini-ai


" Set handlers to always be vim
sethandler <C-a> a:vim
sethandler <C-b> a:vim
sethandler <C-c> a:vim
sethandler <C-d> a:vim
sethandler <C-e> a:vim
sethandler <C-f> a:vim
sethandler <C-g> a:vim
sethandler <C-h> a:vim
sethandler <C-i> a:vim
sethandler <C-j> a:ide
sethandler <C-k> a:ide
sethandler <C-l> a:vim
sethandler <C-m> a:vim
sethandler <C-n> a:vim
sethandler <C-o> a:vim
sethandler <C-p> a:vim
sethandler <C-q> a:vim
sethandler <C-r> a:vim
sethandler <C-s> a:vim
sethandler <C-t> a:vim
sethandler <C-u> a:vim
sethandler <C-v> a:vim
sethandler <C-v> a:vim
sethandler <C-w> a:vim
sethandler <C-x> a:vim
sethandler <C-y> a:vim
sethandler <C-z> a:vim
sethandler <C-space> a:vim
sethandler <C-tab> a:vim


let mapleader = " "

" Yank and paste to clipboard
nnoremap <leader>y "+y
vnoremap <leader>y "+y
nnoremap <leader>yy "+yy
nnoremap <leader>p "+p

" Tab movement
nnoremap <C-s-tab> gT
nnoremap <C-tab> gt

" Pane movement
nnoremap <C-h> <c-w>h
nnoremap <C-l> <c-w>l
nnoremap <C-j> <c-w>j
nnoremap <C-k> <c-w>k
map <leader>q <Action>(CloseActiveTab)


" Previous file
nmap <c-o> <Action>(Back)
nmap <c-i> <Action>(Forward)

" Clear search highlight with return
nnoremap <leader><cr> :nohlsearch<cr>


" Nerdtree
nnoremap <leader>fm :NERDTree<cr>


" Terminal
:map <leader>tt <Action>(ActivateTerminalToolWindow)


" Find stuff
" Requires Fuzzier to work https://github.com/MituuZ/fuzzier
" Manually set keymaps to <C-n> & <C-p>
" In settings -> keymaps -> plugins -> fuzzier
map <Leader>ff <Action>(com.mituuz.fuzzier.Fuzzier)

map <leader>fr <Action>(RecentChangedFiles)
map <leader>gs <Action>(FindInPath)
map <leader>ss <Action>(FileStructurePopup)

" LSP Actions 
map <leader>gd <Action>(GotoDeclaration)
map <leader>gi <Action>(GotoImplementation)
map <leader>gt <Action>(GotoTest)
map <leader>gf <Action>(ReformatCode)
map <leader>ca <Action>(ShowIntentionActions)
map <leader>cg <Action>(Generate)

" Show info under curosr
map K <Action>(ShowHoverInfo)
map <leader>ch <Action>(QuickImplementations)
map <leader>ce <Action>(ShowErrorDescription)

" Refactoring
map <leader>rr <Action>(RenameElement)
map <leader>RR <Action>(Refactorings.QuickListPopupAction)

" Run
map <leader>rg <Action>(RunContextGroup)
map <leader>rc <Action>(ChooseRunConfiguration)
map <leader>dc <Action>(ChooseDebugConfiguration)
map <leader>1 <Action>(Run)
map <leader>2 <Action>(Debug)
map <leader>0 <Action>(Stop)
